---
import MetaHead from '@components/general/MetaHead.astro';
import Layout from '@layouts/Layout.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <MetaHead
      title={'Tools'}
      description={'Checkout these tools I made.'}
      ogImageUrl={'/assets/images/profile.png'}
    />
  </head>

  <body>
    <Layout>
      <h1 style='line-height: 1.2;' transition:animate="slide">Tools</h1>

      <p class='dark:text-light my-8'>Coming soon.</p>
    </Layout>
  </body>
</html>
